<div class="layout-row flex-center">
  <div class="bubble-wrapper">
    <div class="bubble">
      {{fa-icon "code"}}
      <small>Code</small>
    </div>
  </div>
  <div class="bubble-wrapper">
    <div class="bubble">
      {{fa-icon "exclamation"}}
      <small>Issue</small>
    </div>
  </div>
  <div class="bubble-wrapper">
    <div class="bubble">
      {{fa-icon "font"}}
      <small>Text</small>
    </div>
  </div>
</div>
<div class="layout-row flex-center">
  <div class="bubble-wrapper">
    <div class="bubble">
      {{fa-icon "pencil"}}
      <small>Mockups</small>
    </div>
  </div>
  <div class="bubble-wrapper">
    <div class="bubble">
      {{fa-icon "dollar"}}
      <small>Geld</small>
    </div>
  </div>
</div>
<div class="layout-row flex-center">
  <div class="bubble-wrapper">
    <div class="bubble">
      {{fa-icon "globe"}}
      <small>OSM</small>
    </div>
  </div>
</div>
