<section class="latest-contribution">
  {{#each (take 1 (sort-by 'insertedAt:desc' model.contributions))
    as |latestContribution|}}
    🎉&nbsp;Neuester Beitrag von {{latestContribution.user.name}}:
    {{latestContribution.title}}&nbsp;🎉
  {{/each}}
</section>
<div class={{if media.isDesktop "layout-row" "layout-column"}}>
  <div class="col-half intro flex text-center">
    <h1>{{model.name}}</h1>
    <p>
      Wer schafft es im Advent jeden Tag einen Beitrag zu einem Open Source
      Projekt zu leisten?
    </p>

    <p>
      Nicht nur Code-Beiträge, sonder irgendwas, das mit Open Source zu tun hat. Unter {{#link-to 'about'}}About{{/link-to}} wird dies genauer beschrieben.
    </p>
    <div class="layout-row flex-center">
      <div class="col-third flex-3">
        <div class="bubbles">
          <i class="fa fa-code fa-4 "></i><br /><small>Code</small>
        </div>
      </div>
      <div class="col-third flex-3">
        <div class="bubbles">
          <i class="fa fa-exclamation fa-4"></i><br /><small>Issue</small>
        </div>
      </div>
      <div class="col-third flex-3">
        <div class="bubbles">
          <i class="fa fa-font fa-4 "></i><br /><small>Text</small>
        </div>
      </div>
    </div>
    <div class="layout-row flex-center m-b-2">
      <div class="col-half flex-2">
        <div class="bubbles">
          <i class="fa fa-pencil fa-4"></i><br /><small>Mockups</small>
        </div>
      </div>
      <div class="col-half flex-2">
        <div class="bubbles">
          <i class="fa fa-dollar fa-4 "></i><br /><small>Geld</small>
        </div>
      </div>
    </div>
  </div>
  <div class="col-half advent-wrapper flex text-center">
    {{contribution-calendar challenge=model}}
  </div>
</div>
