<div class="page page-index">
  {{latest-contribution
    contribution = (take-first (sort-by 'insertedAt:desc' model.contributions))
    }}
  <div class={{if media.isDesktop "layout-row" "layout-column"}}>
    <div class="page-index-content intro flex text-center">
      <h1>{{model.name}}</h1>
      <p>
        Die Herausforderung: Leiste jeden Tag im Advent (1.12 - 24.12)
        einen Beitrag zu einem Open Source Projekt und unterstütze damit
        die Community.
      </p>

      <p>
        Du musst aber kein Programmierer sein, um teilzunehmen! Auch
        Textbeiträge oder eine Ortschaft auf Open Street Maps zu erfassen
        ist bereits ein wertvoller Beitrag. Unter
        {{#link-to 'about'}}"About"{{/link-to}} findest du mehr
        Informationen.
      </p>

      {{contribution-bubbles}}
    </div>
    <div class="page-index-content advent-wrapper flex text-center">
      {{contribution-calendar challenge=model}}
    </div>
  </div>
</div>
