<div class="page page-index">
  {{latest-contribution}}
  <div class={{if media.isDesktop "layout-row" "layout-column"}}>
    <div class="page-index-content intro flex text-center">
      <h1>{{model.name}}</h1>
      <p>
        Stell dich der Herausforderung: Leiste jeden Tag im Advent (1.12. - 24.12.)
        einen Beitrag zu einem Open Source Projekt und unterstütze damit
        die Community.
      </p>

      <p>
        Wichtig: Du musst kein Programmierer sein, um teilzunehmen! Auch
        Textbeiträge oder eine Ortschaft auf <a href="http://www.osm.org/">OpenStreetMap</a> zu erfassen
        ist bereits ein wertvoller Beitrag.
      </p>

      <p>
        Keine Idee was du im Advent an der Open Source Challenge tun sollst? Oder hast du ein spannendes Projekt
        und suchst Unterstützung? Wir haben ein <a href="https://wekan.puzzle.ch/b/aorgs9aHXn6Prhqnn/opensource-challenge-2018-ideen">Wekan Board</a>
        erstellt. Für Schreibrechte bitte pn mit deiner Mailadresse an <a href="https://twitter.com/osschallengech">@osschallengech</a>.
      </p>

      <p>
        Unter
        {{#link-to 'about'}}«About»{{/link-to}} findest du mehr
        Informationen.
      </p>

      {{contribution-bubbles}}
    </div>
    <div class="page-index-content advent-wrapper flex text-center">
      {{contribution-calendar challenge=model}}
    </div>
  </div>
</div>
