<div class="page page-index">
  <section class="latest-contribution">
    {{#each (take 1 (sort-by 'insertedAt:desc' model.contributions))
      as |latestContribution|}}
      {{party-popper class="m-x-1"}}
      {{#link-to 'day' latestContribution.date}}
        Neuester Beitrag von {{latestContribution.user.name}}:
      {{latestContribution.title}}
      {{/link-to}}
      {{party-popper class="m-x-1"}}
    {{/each}}
  </section>
  <div class={{if media.isDesktop "layout-row" "layout-column"}}>
    <div class="col-half intro flex text-center">
      <h1>{{model.name}}</h1>
      <p>
        Die Herausforderung: Leiste jeden Tag im Advent (1.12 - 24.12)
        einen Beitrag zu einem Open Source Projekt und unterstütze damit
        die Community.
      </p>

      <p>
        Du musst aber kein Programmierer sein, um teilzunehmen! Auch
        Textbeiträge oder eine Ortschaft auf Open Street Maps zu erfassen
        ist bereits ein wertvoller Beitrag. Unter
        {{#link-to 'about'}}"About"{{/link-to}} findest du mehr
        Informationen.
      </p>
      <div class="layout-row flex-center">
        <div class="col-third flex-3">
          <div class="bubbles">
            <i class="fa fa-code fa-4"></i>
            <small>Code</small>
          </div>
        </div>
        <div class="col-third flex-3">
          <div class="bubbles">
            <i class="fa fa-exclamation fa-4"></i>
            <small>Issue</small>
          </div>
        </div>
        <div class="col-third flex-3">
          <div class="bubbles">
            <i class="fa fa-font fa-4"></i>
            <small>Text</small>
          </div>
        </div>
      </div>
      <div class="layout-row flex-center m-b-2">
        <div class="col-half flex-2">
          <div class="bubbles">
            <i class="fa fa-pencil fa-4"></i>
            <small>Mockups</small>
          </div>
        </div>
        <div class="col-half flex-2">
          <div class="bubbles">
            <i class="fa fa-dollar fa-4"></i>
            <small>Geld</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-half advent-wrapper flex text-center">
      {{contribution-calendar challenge=model}}
    </div>
  </div>
</div>
