<div class="page page-index">
  {{latest-contribution}}
  <div class={{if media.isDesktop "layout-row" "layout-column"}}>
    <div class="page-index-content intro flex text-center">
      <h1>{{model.name}}</h1>
      <p>
        Stell dich der Herausforderung: Leiste jeden Tag im Advent (1.12. - 24.12.)
        einen Beitrag zu einem Open Source Projekt und unterstütze damit
        die Community.
      </p>

      <p>
        Wichtig: Du musst kein Programmierer sein, um teilzunehmen! Auch
        Textbeiträge oder eine Ortschaft auf <a href="http://www.osm.org/" target="_blank">OpenStreetMaps</a> zu erfassen
        ist bereits ein wertvoller Beitrag. Unter
        {{#link-to 'about'}}«About»{{/link-to}} findest du mehr
        Informationen.
      </p>

      {{contribution-bubbles}}
    </div>
    <div class="page-index-content advent-wrapper flex text-center">
      {{contribution-calendar challenge=model}}
    </div>
  </div>
</div>
