<section>
  {{#each (sort-by "date:desc" this.model.contributions) as |contribution|}}
    <div class="user-contribution">
      <div class="title">
        <h2>
          {{moment-format contribution.date "DD.MM.YYYY"}}
          {{#with contribution.title as |title|}}
            &ndash; {{title}}
          {{/with}}
        </h2>
        {{#if (can "edit contribution" contribution)}}
          {{#link-to "edit-contribution" contribution}}
            {{fa-icon "pencil"}}
          {{/link-to}}
        {{/if}}
      </div>
      {{#with contribution.link as |link|}}
        <a href={{link}}>{{link}}</a>
      {{/with}}

      <ContributionDescription @description={{contribution.description}} />
    </div>
  {{/each}}
</section>
