{{#if media.isDesktop}}
  <header class="page-header {{componentCssClassName}}">
    {{yield}}

    <ul class="page-header__menu flex">
      {{#each menuItems as |item|}}
        <li>
          {{link-to item.title item.route current-when=item.currentWhen}}
        </li>
      {{/each}}
      <li>
        {{#current-user as |user|}}
          <span>{{user.name}}</span>
          <ul>
            <li><a {{action logout}}>Logout</a></li>
          </ul>
        {{else}}
          {{#link-to 'login'}}Sign in{{/link-to}}
        {{/current-user}}
      </li>
    </ul>
  </header>

  {{yield to='inverse'}}

{{else}}
  {{#burger-menu class="flex" itemAnimation="push" as |b|}}
    {{#b.menu itemTagName="li" as |menu|}}
      <header class="bm-header">
        {{#current-user as |user|}}
          <span class="welcome">Willkommen {{user.name}}</span>
        {{/current-user}}
      </header>
      <ul class="bm-menu-list layout-column flex">
        {{#each menuItems as |item|}}
          {{#menu.item}}
            {{link-to item.title item.route current-when=item.currentWhen}}
          {{/menu.item}}
        {{/each}}
        {{#menu.item}}
          {{#if session.isAuthenticated}}
            <a {{action logout}}>Logout</a>
          {{else}}
            {{#link-to 'login'}}Sign in{{/link-to}}
          {{/if}}
        {{/menu.item}}
      </ul>
    {{/b.menu}}

    {{#b.outlet}}
      <header class="page-header {{componentCssClassName}}">
        <a class="menu-toggle fa fa-bars" {{action b.state.actions.toggle}}></a>
        {{yield}}
      </header>

      {{yield to='inverse'}}
    {{/b.outlet}}
  {{/burger-menu}}
{{/if}}
