{{#if (media "isDesktop")}}
  <header class="page-header {{componentCssClassName}}">
    {{~yield~}}

    <ul class="page-header__menu flex">
      {{#each menuItems as |item|}}
        <li>
          {{~link-to item.title item.route current-when=item.currentWhen~}}
        </li>
      {{/each}}
      <li>
        {{#current-user as |user|}}
          <span>{{user.name}}</span>
          <ul>
            {{#if user.admin}}
              <li>
                {{~#link-to "admin"}}Admin{{/link-to~}}
              </li>
            {{/if}}
            <li><a {{! template-lint-disable }} {{action logout}}>Logout</a></li>
          </ul>
        {{else}}
          {{#link-to "login"}}Sign in{{/link-to}}
        {{/current-user}}
      </li>
    </ul>
  </header>

  {{~yield to="inverse"~}}

{{else}}
  {{#burger-menu class="flex" itemAnimation="push" as |b|}}
    {{#b.menu itemTagName="li" dismissOnItemClick=true as |menu|}}
      <header class="bm-header">
        {{#current-user as |user|}}
          <span class="welcome">Willkommen {{user.name}}</span>
        {{/current-user}}
      </header>
      <ul class="bm-menu-list layout-column flex">
        {{#each menuItems as |item|}}
          {{#menu.item}}
            {{~link-to item.title item.route current-when=item.currentWhen~}}
          {{/menu.item}}
        {{/each}}
        {{#current-user as |user|}}
          {{#if user.admin}}
            {{#menu.item}}
              {{~#link-to "admin"}}Admin{{/link-to~}}
            {{/menu.item}}
          {{/if}}
        {{/current-user}}
        {{#menu.item}}
          {{#if session.isAuthenticated}}
            <a {{! template-lint-disable }} {{action logout}}>Logout</a>
          {{else}}
            {{#link-to "login"}}Sign in{{/link-to}}
          {{/if}}
        {{/menu.item}}
      </ul>
    {{/b.menu}}

    {{#b.outlet}}
      <header class="page-header {{componentCssClassName}}">
        <a class="menu-toggle" {{! template-lint-disable }} {{action b.state.actions.toggle}}>
          {{fa-icon "bars"}}
        </a>
        {{yield}}
      </header>

      {{~yield to="inverse"~}}
    {{/b.outlet}}
  {{/burger-menu}}
{{/if}}
