<h2>Contribution erfassen</h2>

{{#with (changeset contribution ContributionValidations) as |contributionChangeset|}}
  {{#form-for
    contributionChangeset
    class="layout-column-flex"
    submit=(action "save")
  as |f|}}
    {{f.text-field "title" label="Titel" placeholder="Titel" required=true}}
    {{f.url-field "link" label="Link" placeholder="https://www.…"}}
    {{f.textarea-field "description" label="Beschreibung (in Markdown)"
      placeholder="Beschreibe hier deinen Open Source Beitrag..."
      required=true
    }}

    {{date-field
      value = contributionChangeset.date
      change = (action "setDate" contributionChangeset)
    }}

    <div class="button-row">
      {{f.submit "Erfassen"
        disabled=(or contributionChangeset.isInvalid contributionChangeset.isPristine contributionChangeset.isSaving)
      }}
      {{f.button "Abbrechen" class="btn-link" click=(action oncancel)}}
    </div>
  {{/form-for}}

  {{#unless contributionChangeset.isNew}}
    {{hold-button action=(action "delete")}}
  {{/unless}}
{{/with}}
