<h2>Contribution erfassen</h2>

{{#with (changeset contribution ContributionValidations) as |changeset|}}
  {{#form-for
    changeset
    class="layout-column-flex"
    submit=(action 'save')
    as |f|}}
    {{f.text-field "title" label="Titel" placeholder="Titel" required=true}}
    {{f.url-field "link" label="Link" placeholder="https://www.…"}}
    {{f.textarea-field "description" label="Beschreibung (in Markdown)"
      placeholder="Beschreibe hier deinen Open Source Beitrag..."
      required=true
      }}

    {{date-field selectDate=(action "setDate")}}

    <div class="button-row">
      {{f.button "Cancel" class="btn-link m-r-1" click=(action "cancel")}}
      {{f.submit
        disabled=(or changeset.isInvalid changeset.isPristine changeset.isSaving)}}
    </div>
  {{/form-for}}

  {{#unless changeset.isNew}}
    {{hold-button action=(action "delete")}}
  {{/unless}}
{{/with}}
