<LinkTo @route="create-challenge">Neue Challenge erfassen</LinkTo>

<table>
  <thead>
    <tr>
      <td>Kürzel</td>
      <td>Name</td>
      <td>Start</td>
      <td>Ende</td>
      <td>Geschlossen</td>
    </tr>
  </thead>
  <tbody>
    {{#each this.model as |challenge|}}
      <tr>
        <td>{{challenge.shortname}}</td>
        <td>
          <LinkTo @route="challenge" @model={{challenge.id}}>
            {{challenge.name}}
          </LinkTo>
        </td>
        <td>{{moment-format challenge.startsOn "DD.MM.YYYY"}}</td>
        <td>{{moment-format challenge.endsOn "DD.MM.YYYY"}}</td>
        <td class="text-center">{{if challenge.closed "✔"}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
