<section class="content content-padding">
  <div class="layout-row contributor-profile-details">
    {{#with this.model.picture as |picture|}}
      <img class="contributor-profile-picture" src={{picture}} alt="">
    {{/with}}
    <div>
      <h1>{{this.model.name}}</h1>
      {{#with this.model.website as |website|}}
        <div>
          <a href={{prefix-http website}}>{{website}}</a>
        </div>
      {{/with}}
      {{#with this.model.company as |company|}}
        <div>{{company}}</div>
      {{/with}}
    </div>
  </div>

  {{outlet}}
</section>
