<section class="content content-padding">
  <div class="layout-row contributor-profile-details">
    {{#with model.picture as |picture|}}
      <img class="contributor-profile-picture" src={{picture}} alt="">
    {{/with}}
    <div>
      <h1>{{model.name}}</h1>
      {{#with model.website as |website|}}
        <div>
          <a href={{prefix-http website}}>{{website}}</a>
        </div>
      {{/with}}
      {{#with model.company as |company|}}
        <div>{{company}}</div>
      {{/with}}
    </div>
  </div>

  {{outlet}}
</section>
