{{#with item.user as |user|}}
  <header>
    <a href={{prefixHttp user.website}} class="avatar-wrapper">
      <img class="avatar" src={{picture}}>
      <div class="username">{{user.name}}</div>
    </a>
  </header>
{{/with}}
<div class="layout-column contribution-content">
  {{#with item.link as |link|}}
    <a class="contribution-link" href={{link}}>{{link}}</a>
  {{/with}}
  <section class="justify-mobile">
    <div class="title">
      {{#with item.title as |title|}}
        <h2>{{title}}</h2>
      {{/with}}
      {{#if (can "edit contribution" item)}}
        {{#link-to "edit-contribution" item}}
          {{fa-icon "pencil"}}
        {{/link-to}}
      {{/if}}
    </div>

    {{~markdown-to-html item.description
      headerLevelStart = 2
      simplifiedAutoLink = true
      tasklists = true
      ~}}
  </section>
</div>
