{{#with item.user as |user|}}
  <header>
    {{#link-to "contributors.profile" user class="avatar-wrapper"}}
      <img class="avatar" src={{picture}} alt="">
      <div class="username">{{user.name}}</div>
    {{/link-to}}
  </header>
{{/with}}
<div class="layout-column contribution-content">
  {{#with item.link as |link|}}
    <a class="contribution-link" href={{link}}>{{link}}</a>
  {{/with}}
  <section class="justify-mobile">
    <div class="title">
      {{#with item.title as |title|}}
        <h2>{{title}}</h2>
      {{/with}}
      {{#if (can "edit contribution" item)}}
        {{#link-to "edit-contribution" item}}
          {{fa-icon "pencil"}}
        {{/link-to}}
      {{/if}}
    </div>

    {{~contribution-description description=item.description~}}
  </section>
</div>
