<div class="layout-row">
  {{#with item.user as |user|}}
    {{#with user.picture as |picture|}}
      <div>
        <div>{{user.name}}</div>
        <img src={{picture}}>
      </div>
    {{/with}}
  {{/with}}
  <div class="layout-column">
    <a href={{item.link}}>{{item.link}}</a>
    <div>{{item.description}}</div>
  </div>
</div>
