{{#with item.user as |user|}}
  <header>
    <div class="avatar-wrapper">
      <img class="avatar" src={{picture}}>
      <div class="username">{{user.name}}</div>
    </div>
  </header>
{{/with}}
<div class="layout-column">
  {{#with item.link as |link|}}
    <a class="contribution-link" href={{link}}>{{link}}</a>
  {{/with}}
  <section class="justify-mobile">
    {{~markdown-to-html item.description
      headerLevelStart = 2
      simplifiedAutoLink = true
      tasklists = true
      ~}}
  </section>
</div>
