<div class="page page-index">
  {{latest-contribution}}
  <div class={{if (media "isDesktop") "layout-row" "layout-column"}}>
    <div class="page-index-content intro flex text-center">
      <h1>{{this.model.name}}</h1>
      <p>
        In diesem speziellen Jahr 2020 ist vieles anders, sehr vieles. Vor rund 3 Monaten wollten wir diese Challenge beerdigen und nicht mehr durchführen. Wir hatten das Gefühl das Interesse schwindet von Jahr zu Jahr. Doch wie so vieles, kommt dieses Jahr alles anders als erwartet und wie wir geplant haben.
      </p>

      <p>
        Danke für eure Rückmeldungen und die grosse Vorfreude. Also haben wir uns kurzerhand entschlossen auch dieses Jahr wieder eine Open Source Advents Challenge durchzuführen. Es freut mich besonders, dass Carlo (https://github.com/carlobeltrame) seinen Namen für die diesjährige Challenge hergibt.
      </p>

      <p>
        Wir wünschen euch gute Gesundheit und ganz, ganz viele Commits!
      </p>

      <p>
        Hast du eine Idee wie wir in Zukunft die Challenge weiterentwicklen können? Gerne nehmen wir deine Inputs und Vorschläge via Mail oder auf Twitter <a href="https://twitter.com/osschallengech">@osschallengech</a> entgegen.
      </p>

      <p>
        Die vergangen Challenges findest du im {{#link-to "archive"}}«Archiv»{{/link-to}}.
      </p>

      <p>
        Unter
        {{#link-to "about"}}«About»{{/link-to}} findest du mehr
        Informationen.
      </p>

      {{contribution-bubbles}}
    </div>
    <div class="page-index-content advent-wrapper flex text-center">
      {{contribution-calendar challenge=this.model}}
    </div>
  </div>
</div>
